@inherits LayoutComponentBase

<div class="vh-100 px-4 d-flex flex-column">
    <article class="bg-light py-2">
        <NavLink class="text-decoration-none" href="/" Match="NavLinkMatch.All">Home</NavLink>
        <a class="text-decoration-none" href="produtos">Produtos</a>
    </article>

    <article class="py-3 h-100">
        @Body
    </article>

    <footer class="border-top bg-light text-black p-3">
        &copy; @DateTime.Now.Year - EcommStart - Wellington Rogerio
    </footer>
</div>

@code{
}